/*! 
 * Reinio (Reboot)
 */

*,*::before,*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

:focus-visible {
  outline: none !important;
}

[role="button"] {
  cursor: pointer;
}

[type="button"],[type="reset"],[type="submit"] {
  -webkit-appearance: button;
}

[type="button"]:not(:disabled),[type="reset"]:not(:disabled),[type="submit"]:not(:disabled) {
  cursor: pointer;
}

[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

[hidden] {
  display: none !important;
}

/*!
 * Grilla
 * Puntos de quiebre:
 * xs = Dispositivos Extra pequeños como Celulares <576px
 * sm = Dispositivos Pequeños como Tables ≥576px
 * md = Dispositivos Medianos como Notebooks ≥768px
 * lg = Dispositvos Grandes como Monitores de escritorio ≥992px
 * xl = Dispositivos Extra grandes como Monitores de escritorio ≥1200px
 * Apartado sobre Contenedores, responsivos
 */

/*!
 * Apartado sobre Filas (row)
 * Apartado sobre Remoción de márgenes y rellenos, de fila y columnas de fila respectivamente (no-gutters)
 * Apartado sobre Columnas (col) responsivas
 * Apartado sobre Columnas de fila (row-cols), responsivas
 * Apartado sobre Orden de columnas de fila (order), responsivas
 * Apartado sobre Relleno de fila a través de márgenes, se ahorra añadir columnas vacias (offset), responsivas
 */

/*!
 * Propiedades de metodología de despliego (display) de contenido, responsivo
 */

/*!
 * Propiedades flex (flex-direction, flex-wrap, flex, flex-grow, flex-shrink), responsivo
 * Propiedades de contenido justificado (justify-content), responsivo
 * Propiedades alineación de contenido (align-items, align-content, align-self), responsivo
 */

/** 
* Flotar contenido a la izquierda, derecha o anular (float), responsivo
*/

/*
* Desbordamiento automático y ocultar (overflow)
*/

/*
* Posición estática, relativa, absoluta, fijada, pegajosa (position)
*/

/* Fijar arriba, util para posición absoluta */

/* Estirar a la ancho para posiciones absolutas */

/* Fijar abajo */

@supports ((position:-webkit-sticky) or (position:sticky)) {
  .sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
  }
}

/* Sobreado responsivo*/

/* Estirar a lo ancho en 1/4, 1/2, 3/4, entero y automática */

/* Estirar a lo alto en 1/4, 1/2, 3/4, entero y automática */

/* Aumentar el máximo de ancho al 100% */

/* Aumentar el máximo de alto al 100% */

/* Con un mínimo de ancho del viewport */

/* Con un mínimo de alto del viewport */

/* Estirar a lo ancho del viewport */

/* Estirar a lo alto del viewport */

/*!
 * Propiedades de Márgenes (margin, margin-top, margin-right, margin-bottom, margin-left), responsivos
 * Propiedades de Rellenos (padding, padding-top, padding-right, padding-bottom, padding-left), responsivos
 */

/* Fomularios, responsivo */

/* Añadir fuente por defento del body y mejorar su aspecto */

body {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Cambiar fuente para títulos */

/* Estirar link dentro de elemento padre sin afectar su posición */

/* Estira completamente a lo ancho y sobre pasa los limites de márgenes y relleno del elemento padre */

/* Estira al 100% lo alto de acuerdo al viewport */

/*Animaciones CSS*/

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Apartado sobre texto (text-align, white-space, text-overflow), responsivo*/

/* Apartado sobre texto (text-transform, font-weight, font-style) y color de estados del texto*/

/* Ocultar texto */

/* Texto sin decoración */

/* Reiniciar color del texto */

/* Muestra el elemento */

/* Oculta el elemento */

/* Encabezado */

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

/* Navegador */

/* Buscador */

/* Pie de página */

/* Bloque de hipervínculos */

/* Hipervínculos de redes sociales */

/* Derechos de autor */

/*Módulo de contacto*/

/* Elementos y clases predeterminadas */

html {
  scroll-behavior: smooth;
}

/* Precargador */

/* Volver arriba */

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .5);
  -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .5);
  background: #f67946;
  background: -moz-linear-gradient(328deg, #f67946 0, #f4d647 56%, #ffe783 100%);
  background: -webkit-linear-gradient(328deg, #f67946 0, #f4d647 56%, #ffe783 100%);
  background: linear-gradient(328deg, #f67946 0, #f4d647 56%, #ffe783 100%);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 0, 0, .4);
}

::-webkit-scrollbar-track {
  background: #fff;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/*Carro de compras*/

/*Video de fondo*/

/*!
 * Font Awesome Pro 5.15.1 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license (Commercial License)
 */

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
 readers do not read off random characters that represent icons */

@font-face {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../FontAwesomePro5/webfonts/fa-brands-400.eot");
  src: url("../FontAwesomePro5/webfonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("../FontAwesomePro5/webfonts/fa-brands-400.woff2") format("woff2"), url("../FontAwesomePro5/webfonts/fa-brands-400.woff") format("woff"), url("../FontAwesomePro5/webfonts/fa-brands-400.ttf") format("truetype"), url("../FontAwesomePro5/webfonts/fa-brands-400.svg#fontawesome") format("svg");
}

@font-face {
  font-family: 'Font Awesome 5 Duotone';
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url("../FontAwesomePro5/webfonts/fa-duotone-900.eot");
  src: url("../FontAwesomePro5/webfonts/fa-duotone-900.eot?#iefix") format("embedded-opentype"), url("../FontAwesomePro5/webfonts/fa-duotone-900.woff2") format("woff2"), url("../FontAwesomePro5/webfonts/fa-duotone-900.woff") format("woff"), url("../FontAwesomePro5/webfonts/fa-duotone-900.ttf") format("truetype"), url("../FontAwesomePro5/webfonts/fa-duotone-900.svg#fontawesome") format("svg");
}

@font-face {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: 300;
  font-display: block;
  src: url("../FontAwesomePro5/webfonts/fa-light-300.eot");
  src: url("../FontAwesomePro5/webfonts/fa-light-300.eot?#iefix") format("embedded-opentype"), url("../FontAwesomePro5/webfonts/fa-light-300.woff2") format("woff2"), url("../FontAwesomePro5/webfonts/fa-light-300.woff") format("woff"), url("../FontAwesomePro5/webfonts/fa-light-300.ttf") format("truetype"), url("../FontAwesomePro5/webfonts/fa-light-300.svg#fontawesome") format("svg");
}

@font-face {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../FontAwesomePro5/webfonts/fa-regular-400.eot");
  src: url("../FontAwesomePro5/webfonts/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../FontAwesomePro5/webfonts/fa-regular-400.woff2") format("woff2"), url("../FontAwesomePro5/webfonts/fa-regular-400.woff") format("woff"), url("../FontAwesomePro5/webfonts/fa-regular-400.ttf") format("truetype"), url("../FontAwesomePro5/webfonts/fa-regular-400.svg#fontawesome") format("svg");
}

@font-face {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url("../FontAwesomePro5/webfonts/fa-solid-900.eot");
  src: url("../FontAwesomePro5/webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../FontAwesomePro5/webfonts/fa-solid-900.woff2") format("woff2"), url("../FontAwesomePro5/webfonts/fa-solid-900.woff") format("woff"), url("../FontAwesomePro5/webfonts/fa-solid-900.ttf") format("truetype"), url("../FontAwesomePro5/webfonts/fa-solid-900.svg#fontawesome") format("svg");
}